.banner {
    background: url('../img/banner.jpg') no-repeat center/cover;
    text-align: center;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: var(--banner1-fz);
    font-weight: var(--bold);
}
.banner h2 {
    font-size: var(--banner2-fz);
    font-weight: var(--thin);
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .banner {
        height: 60rem;
    }
}